.feature-image {
	background-color: #003667;
    padding: 150px 0;
    margin-bottom: 1rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

    .content {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
    }
}

.feature-image-default {
    background-image: url("../../img/2-dogs-playing.png");
}

.opaque-cover {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.hero-title {
    font-size: 64px;
}

.hero-subtitle {
    font-size: 26px;
}

.animal hr {
    width: 100%!important;
}

.animal-post {
    display: flex;
}

.animal-thumbnail {
    margin-right: 10px;
    flex-shrink: 0;

    img {
        width: 250px;
    }
}

.animal-info {
    display: inline-block;
    flex-grow: 1;

    p:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.widget-area {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}