$greyBorder: 1px solid lightgrey;
$blueColor: rgb(1, 66, 130);

.site-main > .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feature-image {
	background-color: #003667;
    padding: 50px 0;
    margin-bottom: 1rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

    .content {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
    }
}

.feature-image-default {
    background-image: url("../../img/2-dogs-playing.png");
}

.opaque-cover {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.hero-title {
    font-size: 64px;
}

.hero-subtitle {
    font-size: 26px;
}

.animal hr {
    width: 100%!important;
}

.animal-post {
    display: flex;
}

.animal-title > *{
    vertical-align: middle;
}

.animal-thumbnail {
    margin-right: 10px;
    flex-shrink: 0;

    img {
        width: 175px;
    }
}

.animal-info {
    display: inline-block;
    flex-grow: 1;

    p:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.widget-area {
    padding: 10px;
    border: $greyBorder;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
}

blockquote {
    border-top: $greyBorder;
    border-bottom: $greyBorder;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu,
.sub-menu {
    margin-left: 0;
    padding-left: 1.8rem;
}

.search-form {
    .search-field,
    .search-submit,
    label {
        width: 100%;
    }
}

.navbar-brand {
    .animal-sketch {
        display: none;
    }

    .name {
        width: 200px;
    }
}

.btn-primary {
    background-color: $blueColor;
    border-color: $blueColor;
}

.white-link {
    color: white;

    &:hover {
        color: white;
    }
}

@media screen and (min-width: 576px) {
    .navbar-brand {
        .animal-sketch {
            display: inline;
        }

        .name {
            width: auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .feature-image {
        padding: 80px 0;
    }
}

@media screen and (min-width: 992px) {
    .feature-image {
        padding: 150px 0;
    }
    
    .animal-thumbnail {
        img {
            width: 250px;
        }
    }

    // WPForms Form Styling
    .wpforms-container {
        max-width: 400px;
    }
}